

{% block content %}
 

		<div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h2 class="modal-title">Update your Trip's Trick</h2>
        </div>  
        <div class="modal-body">       
					<form method="post" class="form-horizontal" action="">
						{% csrf_token %}
						{{ form.as_p }}	
						
						<button class="btn btn-primary waves-effect" name="submit">Edit Trick</button>
						<a class="btn btn-primary" href="{% url 'triptricks:viewtravelplan' %}">Return to Travel album</a>
						</form>
		</div>								
						
		<div class="modal-footer">
       
     
						
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					
					
		</div>
			
	

{% endblock content %}