
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">View YR Trick</h4>
     </div>
     <div class="modal-body">
     	 <p class="text-primary">Trick Destination City: <span class="bg-primary">{{ list_plan.destination_name }}</span></p>
        <p class="text-primary">Trick Small Destinations in the city: <span class="bg-primary">{{ list_plan.sub_destination }}</span></p>
        <p class="text-primary">Days You were traveling: <span class="bg-primary">{{ list_plan.number_days }}</span></p>
        <p class="text-primary">Sweet note for remembrance: <span class="bg-primary">{{ list_plan.description }}</span></p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>